name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:

  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
      fail-fast: false
      
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Check formatting
      run: cargo fmt --check
    
    - name: Lint code
      run: cargo clippy --all-targets --all-features
      
    - name: Build debug version
      run: cargo build --verbose
      
    - name: Build release artifact
      run: cargo build --release --verbose
      
    - name: Run tests
      run: cargo test --verbose